.checkbox-container {
    grid-template-columns: 175px 175px 175px;
    column-gap: 10px;
    row-gap: 15px;
    display: grid;
    padding: 0.5em;
    background: #f0f0f080 ;
    .usa-checkbox {
        background: none;
    }
}
.deselect-all-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    background: #f0f0f080;
  }
  
  .deselect-all-button {
    margin-left: auto;
    color: #0000FF;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
  