@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@trussworks/react-uswds/lib/uswds.css';
@import '@trussworks/react-uswds/lib/index.css';

.usa-button {
    background-color: #005ea2;
}

.usa-modal__close {
    background-color: rgba(0,0,0,0);
}

.usa-button--unstyled {
    background-color: rgba(0,0,0,0);
}

.usa-file-input {
  max-width: 40rem;
}

.usa-alert .usa-alert__body {
  margin-left: 0.5rem ;
  padding-left: 0.5rem ;
}

@media (min-width: 64em) {
  .usa-header--basic .usa-navbar {
    position: relative;
    width: 50%;
  }
}


.footer-primary {
  div{
    background: #162E51;
    color: white !important;
    min-height: 84px;
    a {
      color: white !important;
    }
  }
  .usa_footer-trademark {
    font-family: Public Sans,sans-serif!important;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
  }

}


.hover\:text-base-lightest:hover, .text-base-lightest {
  color: #f0f0f0 !important;
}

.usa-nav-container {
    max-width: 88rem!important;
}

.main-body{
  min-height: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  //styleName: H1;
  h1{
    font-family: Public Sans,sans-serif!important;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  .width-lg{
    width: 100%;
    max-width: 100%;
  }
  .usa-button--outline{
    background-color: white !important;
    &:hover {
      background-color: #005ea2 !important;
      color: white;
    }
  }

}

.no-content::before{
  content: "" !important;
}

.parse-icon::before{
  background-image: url("/parsing.svg");
  background-position: 50% 25%;
}

.geolocation-icon::before {
  background-image: url("/geolocatting.svg");
  background-position: 50% 25%;
}

.exporting-icon::before {
  background-image: url("/exporting-data-fields.svg");
  background-position: 50% 25%;
}

.standardizing-icon::before {
  background-image: url("/standardizing.svg");
  background-position: 50% 25%;
}

.fhir-icon::before {
  background-image: url("/converting-to-fhir.svg");
  background-position: 50% 25%;
}

.usa-step-indicator__segment--complete::before{
  background-color: #162E51 !important;
}

.usa-step-indicator-in-progress::before{
  background-color: #005ea2 !important;
  box-shadow: inset 0 0 0 0.25rem #005ea2, 0 0 0 0.25rem #fff !important;
}

