@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@trussworks/react-uswds/lib/uswds.css";
@import "@trussworks/react-uswds/lib/index.css";

body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap
}

.usa-button {
  background-color: #005ea2;
}

.usa-modal__close {
  background-color: rgba(0, 0, 0, 0);
}

.usa-button--unstyled {
  background-color: rgba(0, 0, 0, 0);
}

.usa-file-input {
  max-width: 40rem;
}

.usa-alert .usa-alert__body {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

@media (min-width: 64em) {
  .usa-alert--info .usa-alert__body {
    padding-right: 3.5rem;
  }
}

@media (min-width: 64em) {
  .usa-header--basic .usa-navbar {
    position: relative;
    width: 50%;
  }
}

// removing the border on the left
.usa-form-group--error {
  border-left-style: none !important;
  padding-left: 1.2rem !important;
}

.footer-primary {
  div {
    background: #162e51;
    color: white !important;
    min-height: 84px;

    a {
      color: white !important;
    }
  }

  .usa_footer-trademark {
    font-family:
      Source Sans Pro Web,
      Helvetica Neue,
      Helvetica,
      Roboto,
      Arial,
      sans-serif !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
  }
}

.hover\:text-base-lightest:hover,
.text-base-lightest {
  color: #f0f0f0 !important;
}

.usa-nav-container {
  max-width: 100% !important;
}

@media all and (min-width: 64em) and (min-width: 64em) {
  .usa-nav-container {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}

.main-body {
  min-height: 74vh;
  max-width: 75vw;
  margin: 1rem auto;

  h1 {
    font-family:
      Source Sans Pro Web,
      Helvetica Neue,
      Helvetica,
      Roboto,
      Arial,
      sans-serif !important;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
  }

  h2 {
    font-family:
            Source Sans Pro Web,
            Helvetica Neue,
            Helvetica,
            Roboto,
            Arial,
            sans-serif !important;
    font-size: 28px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
  }

  .width-lg {
    width: 100%;
    max-width: 100%;
  }

  .usa-button--outline {
    background-color: white !important;

    &:hover {
      background-color: #005ea2 !important;
      color: white;
    }
  }
}

.no-content::before {
  content: "" !important;
}

.parse-icon::before {
  background-image: url("/parsing.svg");
  background-position: 50% 50%;
}

.geolocation-icon::before {
  background-image: url("/geolocatting.svg");
  background-position: 50% 50%;
}

.exporting-icon::before {
  background-image: url("/exporting-data-fields.svg");
  background-position: 50% 50%;
}

.error-icon::before {
  background-image: url("/exporting-data-fields.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.error-icon::after {
  background: #B50909 !important;
}

.standardizing-icon::before {
  background-image: url("/standardizing.svg");
  background-position: 50% 50%;
}

.fhir-icon::before {
  background-image: url("/converting-to-fhir.svg");
  background-position: 50% 50%;
}

.usa-step-indicator__segment--complete::before {
  background-color: #162e51 !important;
}

.error-icon.usa-step-indicator__segment--complete::before{
  background-color: #B50909 !important;
}

.usa-step-indicator-in-progress::before {
  background-color: #005ea2 !important;
  box-shadow:
    inset 0 0 0 0.25rem #005ea2,
    0 0 0 0.25rem #fff !important;
}

.right-justified-text {
  text-align: right;
}

@media (min-width: 64em) {
  .usa-logo {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
}

.max-611 {
  max-width: 611px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: unset;
  margin: 0 2em;
  padding: unset;
}

.no-wrap-table {
  white-space: nowrap;
}
