@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@trussworks/react-uswds/lib/uswds.css';
@import '@trussworks/react-uswds/lib/index.css';

.usa-button {
    background-color: #005ea2;
}

.usa-modal__close {
    background-color: rgba(0,0,0,0);
}

.usa-button--unstyled {
    background-color: rgba(0,0,0,0);
}
